* {
  margin: auto;
  padding: 0;
  font-family: 'Varela Round', sans-serif;
  font-weight: 400; }
body{
  background-color: antiquewhite;
}
div{
  margin: 0;
}
a{
  text-decoration: none;
  color: #E3CAA5;
}
a:hover{
  color: #e1d2bcb7;
}
aside{
  margin: 0;
}
h3,
h4{
  text-align: center;
}
h5,
h6{
  font-weight: 600;
  color: #E3CAA5;
}
ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
li{
  color: #E3CAA5;
}
.marginAuto{
  margin: auto;
}
/*      HEADER         */
.displayNone{
  display: none;
}
header{
  background: #AD8B73;
}
.containerHeader{
  max-width: 1000px;
  margin: auto;
  padding: 1rem 0;
  display: grid;
  grid-template-columns: 15% 50% 20% 15%;
}
.imgLogo{
  height: 80px;
}
.menuHamburguesa{
  display: none;
}
.btn-check:focus+.btn-primary, .btn-primary:focus {
  color: #fff;
  background-color: #AD8B73;
  border-color: #E3CAA5;
  box-shadow: none;
}
.inputHeader{
  border: none;
  border-bottom: #E3CAA5 3px solid;
  border-radius: 5px;
  background-color: #AD8B73;
  width: 250px;
}
.btnHeader{
  border: none;
  background-color: #AD8B73;
}
.user{
  display: none;
}
/* PRODUCTOS */
aside{
  display: grid;
  grid-template-rows: 1fr 1fr;
}
.productos{
  max-width: 1000px;
  margin: auto;
  display: grid;
  grid-template-columns: 25% 75%;
}
.divAside{
  display: grid;
  grid-template-rows: 4% 48% 48%;
  background-color: silver;
  border-radius: 5px;
  width: 200px;
  margin: 1rem auto;
  padding: 1rem 0;
  height: fit-content;
}
.containerFiltro{
  margin: auto;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.containerFiltroAroma{
  padding: 2rem 0 0 0;
}
.divFiltro{
  display: flex;
  flex-direction: column;
}
#containerInput input,
#containerInput select{
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}
 
#containerInput{
  margin:0;
  padding:0 20px 1rem 20px;
  display: grid;
  flex-direction: row;
  grid-template-columns: 20% 80%;
}
#containerInput input{
  width: 80%;
  height: 80%;
  margin: auto;
}
#containerInput input{
  border: 3px solid gray;
  margin: auto;
}
#containerInput input:checked{
  background: #AD8B73;
  border: none;
  margin: auto;
}
.cantidadProductos{
  padding: 0.5rem;
  background-color: burlywood;
  color: black;
  overflow: hidden;
}
.subtotalProductos{
  text-align: center;
  background-color: #AD8B73;
  margin: 0;
  color: wheat;
  font-weight: bold;
}
#divCarrito{
  width: 200px;
  margin: 1rem auto;
  background-color: silver;
  padding: 1rem 0 0 0;
  border-radius: 5px;
  overflow: hidden;
  height: fit-content;
}
#vaciarCarrito{
  width: 100%;
  border: none;
  background-color: #AD8B73;
  color: wheat;
  font-weight: bold;
}
main{
  display: grid;
  grid-template-columns: 50% 50%;
  width: 100%;
}
.card{
  margin: 1rem auto;
  width: 18rem;
}
.card-compra{
  margin: 0;
  display: flex;
  flex-direction: row;
}
.btnCompra{
  width: 40%;
  background-color: #AD8B73;
  border: none;
  color: #E3CAA5;
  font-weight: bold;
}
.btnCompra:hover{
  background-color: #ad8b73cc;
}
.precio{
  margin: 0%;
  width: 70%;
  text-align: center;
  font-size: 1.5rem;
  background-color: #AD8B73;
  color: #E3CAA5;
}
  /*    FOOTER    */
footer{
  background: #AD8B73;
}
.containerFooter{
  max-width: 1000px;
  margin: auto;
  padding: 1rem;
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.33%;
}
.footerIg{
  margin-bottom: 1rem;
}
.alignCenter{
  text-align: center;
}
#sugerenciaUsuario li{
  color: black;
}
@media (max-width: 768px) {
  /* HEADER */
  .containerHeader{
    padding: 1rem;
  }
  .menuHamburguesa{
    display: flex;
  }
  .btn{
    background-color: #AD8B73;
    border: none;
  }
  .btn:hover{
    background-color: #AD8B73;
  }
  h5{
    font-size: 24px;
  }
  .dropdown-item{
    color: #E3CAA5;
    border-bottom: #E3CAA5 2px solid;
    font-size: 1.5rem;
  }
  .dropdown-item:hover{
    background-color: #AD8B73;
    color: #E3CAA5;
  }
  .offcanvas{
    background-color: #AD8B73;
  }
  .ocultarResponsive{
    display: none;
  }
  .mostrarResponsive{
    display: flex;
  }
  /* PRODCUTOS */
  .productos{
    display: flex;
    flex-direction: column-reverse;
  }
  main{
    display: flex;
    flex-direction: column;
    width: auto;
  }
  aside{
    display: flex;
  }
  .divAside{
    display: none;
  }
  .card{
    margin: 1rem 0;
  }
/* FOOTER */
 .containerFooter{
    max-width: 1000px;
    margin: auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
  }
  .containerFooter div{
    margin: 0.5rem 0 0.5rem 0;
  }
}