* {
  margin: auto;
  padding: 0;
  font-family: 'Varela Round', sans-serif;
  font-weight: 400; }
a{
  text-decoration: none;
  color: #E3CAA5;
}
a:hover{
  color: #e1d2bcb7;
}
h5,
h6{
  font-weight: 600;
  color: #E3CAA5;
}
ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
li{
  color: #E3CAA5;
}
/*      HEADER         */
.displayNone{
  display: none;
}
header{
  background: #AD8B73;
}
.containerHeader{
  max-width: 1000px;
  margin: auto;
  padding: 1rem 0;
  display: grid;
  grid-template-columns: 15% 50% 20% 15%;
}
.imgLogo{
  height: 80px;
}
.menuHamburguesa{
  display: none;
}
.inputHeader{
  border: none;
  border-bottom: #E3CAA5 3px solid;
  border-radius: 5px;
  background-color: #AD8B73;
  width: 250px;
}
.btnHeader{
  border: none;
  background-color: #AD8B73;
}
.user{
  display: none;
}
/* PRODUCTOS */
.productos{
  max-width: 1000px;
  margin: auto;
  display: grid;
  grid-template-columns: 25% 75%;
}
.divAside{
  border: #AD8B73 5px solid;
  height: 800px;
  width: 200px;
}
main{
  display: grid;
  grid-template-columns: 50% 50%;
}
.card{
  margin: 1rem;
}
  /*    FOOTER    */
footer{
  background: #AD8B73;
}
.containerFooter{
  max-width: 1000px;
  margin: auto;
  padding: 1rem;
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.33%;
}
.footerIg{
  margin-bottom: 1rem;
}
@media (max-width: 768px) {
  /* HEADER */
  .containerHeader{
    padding: 1rem;
  }
  .menuHamburguesa{
    display: flex;
  }
  .btn{
    background-color: #AD8B73;
    border: none;
  }
  .btn:hover{
    background-color: #AD8B73;
  }
  h5{
    font-size: 24px;
  }
  .dropdown-item{
    color: #E3CAA5;
    border-bottom: #E3CAA5 2px solid;
    font-size: 1.5rem;
  }
  .dropdown-item:hover{
    background-color: #AD8B73;
    color: #E3CAA5;
  }
  .offcanvas{
    background-color: #AD8B73;
  }
  .ocultarResponsive{
    display: none;
  }
  .mostrarResponsive{
    display: flex;
  }
  /* PRODCUTOS */
  .productos{
    display: grid;
    grid-template-columns:100%;
  }
  main{
    display: flex;
    flex-direction: column;
  }
  aside{
    display: none;
  }
  .card{
    margin: 1rem 0;
  }
/* FOOTER */
 .containerFooter{
    max-width: 1000px;
    margin: auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
  }
  .containerFooter div{
    margin: 0.5rem 0 0.5rem 0;
  }
}